* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0.7rem 7.2rem;
    background-color: #ffffff;
    border-bottom: 1px solid white;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    /* background-color: yellow; */
}
.nav-links {
    display: flex;
    margin: 1px 24px;
}
/* changing nav links display to from block to inline */
.nav-links > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
/* removing  list style */
.nav-links > ul > li {
    list-style: none;
    display: flex;
}
.nav-links > ul > li > a {
    text-decoration: none;
    color: black;
}
.download-link {
    border: 1px solid #cdcede;
    border-radius: 12px;
    padding: 6px;
}

.logo-wrapper {
    width: 30%;
    /* background-color: grey; */
}
.logo-wrapper > img {
    width: 50%;
    max-width: 100%;
}

/* MAIN Content */
.hero {
    padding: 12rem 0px;
    background: url("/public/hero-section-2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 13rem;
    margin-right: 13rem;
}

.hero-title > h1 {
    font-size: 2.2rem;
    color: white;
}
.search-section {
    background-color: white;
    max-width: 100%;
    width: 100%;
    padding: 1.3rem 1.3rem;
    border-radius: 0.6rem;
}
.search-section > form {
    display: flex;
    justify-content: space-between;
}
.s-input {
    border: 1px solid #ccc;
    padding: 12px 4px;
    border-radius: 10px;
    display: flex;
}
.s-input > div > img {
    width: 30px;
}
